.gradient-preview {
  height: 120px;
  border-radius: 0.5rem;
  border: 1px solid #30363d; /* gray-700 */
}

.linear-example-1 {
  background-image: linear-gradient(to right, #58a6ff, #3fb950);
}

.linear-example-2 {
  background-image: linear-gradient(45deg, #f857a6, #ff5858);
}

.linear-example-3 {
  background-image: linear-gradient(to right, #58a6ff 0%, #3fb950 50%, #f59e0b 100%);
}

.radial-example-1 {
  background-image: radial-gradient(circle, #ff5858, #0d1117);
}

.radial-example-2 {
  background-image: radial-gradient(ellipse at top left, #3fb950, #58a6ff);
}
