.slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 0.5rem; /* 8px */
  background: #30363d; /* gray-700 */
  border-radius: 9999px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.slider-thumb:hover {
  opacity: 1;
}

.slider-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #58a6ff;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #161b22; /* gray-900 */
}

.slider-thumb::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #58a6ff;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #161b22; /* gray-900 */
}

.color-picker-wrapper {
  @apply relative w-full h-10;
}

.color-picker {
  @apply w-full h-full p-0 border-0 rounded-md cursor-pointer bg-gray-800;
}

.color-picker::-webkit-color-swatch-wrapper {
  @apply p-0;
}

.color-picker::-webkit-color-swatch {
  @apply rounded-md border border-gray-700;
}

.color-picker::-moz-color-swatch {
  @apply rounded-md border-0;
}

.checkerboard {
    background-image:
        linear-gradient(45deg, #21262d 25%, transparent 25%),
        linear-gradient(-45deg, #21262d 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #21262d 75%),
        linear-gradient(-45deg, transparent 75%, #21262d 75%);
    background-size: 20px 20px;
}