.slider-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #58a6ff;
  cursor: pointer;
  border-radius: 50%;
}

.slider-thumb::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #58a6ff;
  cursor: pointer;
  border-radius: 50%;
  border: none;
}

.color-picker-wrapper {
  @apply relative w-full h-10;
}

.color-picker {
  @apply w-full h-full p-0 border-0 rounded-md cursor-pointer bg-gray-800;
}

/* For Webkit browsers */
.color-picker::-webkit-color-swatch-wrapper {
  @apply p-0;
}

.color-picker::-webkit-color-swatch {
  @apply rounded-md border-0;
}

/* For Firefox */
.color-picker::-moz-color-swatch {
  @apply rounded-md border-0;
}
