
:host {
  display: block;
  width: 100%;
}

/* Custom Scrollbar for the "hacker" feel */
.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #30363d;
  border-radius: 20px;
  border: 3px solid #0d1117;
}

input {
  caret-color: #58a6ff;
}
