.slider-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #58a6ff;
  cursor: pointer;
  border-radius: 50%;
}

.slider-thumb::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #58a6ff;
  cursor: pointer;
  border-radius: 50%;
  border: none;
}
